<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hamburg">
    <div id="page-wrapper" class="open">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a id="menu-show" href="#">
                        Меню
                        <span class="menu-icon glyphicon glyphicon-transfer"></span>
                    </a>
                </li>
                <li class="sidebar-title"><span>НАВИГАЦИЯ</span></li>
                <li class="sidebar-list">
                    <a href="#" class="action-link" data-link="Tasks">Заказы <span class="menu-icon fa fa-tasks"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#" class="action-link" data-link="Clients">Клиенты <span class="menu-icon fa fa-users"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#" class="action-link" data-link="Employees">Сотрудники <span class="menu-icon fa fa-sitemap"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#" class="action-link" data-link="Analize">Анализ <span class="menu-icon fa fa-pie-chart"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#" class="action-link" data-link="Reports">Отчеты <span class="menu-icon fa fa-file-excel-o"></span></a>
                </li>
            </ul>
        </div>

        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->

                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <img src="@Url.Content("~/Content/Images/avatar.jpg")">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Иванов И.И.
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Профиль
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Menu Item
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-bell-o"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Notifications
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Server Down!</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="page">
                                Заказы
                            </div>
                            <div class="breadcrumb-links">
                                Меню / Заказы
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Header Bar -->
                <!-- Main Content -->
                @RenderBody()
            </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
